.capi{
    position: absolute;
    height: 25px;
    width: 25px;

    top : 464px;
    right: 269px;
}

.brasil{
    position: absolute;
    right: 75px;
    top: 95px;
}

.text{        
    display: flex;
    flex-direction: column;
    align-items: center;


    position: absolute;
    width: 790px;
    left: 150px;
    top: 120px;
}

input{
    border: 2px solid #0378a638;    
    border-radius: 25px;
    width: 650px;
    height: 40px;
    box-shadow: 0px 5px #00000027;
    outline: 0;    
    font-size: 25px;
    padding: 0px 20px;
    color: #52D5F2;
}

.direcoes{
    text-align: center;
}

.imgRosaDosVentos{
    position: absolute;
    left: 900px;
    top: 400px;
}