.direcoes{
    text-align: center;
    max-height: 50%;
    overflow: auto;
}

/*Daqui para baixo tudo é novo, este comentário serve para
 demarcar e depois poder apagar o que não precisa da versão antiga*/

 html, 
 body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 80%;
}

.area-esquerda{
    padding: 0 5%;
    width: 55%;
    margin: 1%;
}

.area-direita{
    width: 45%;
    margin: 1%;

}

.text{
    font-size: 35px;
}

input{
    border: 2px solid #0378a638;    
    border-radius: 25px;
    width: 80%;
    height: 10%;
    box-shadow: 0px 5px #00000027;
    outline: 0;    
    font-size: 25px;
    padding: 0px 20px;
    /* color: #52D5F2; */
}

.brasil{
    width: 80%;
}

.imgRosaDosVentos{
    position: absolute;
    left: 55%;
    top: 63%;
    height: 30%;
}

.mapa{
    position: relative;
}

@media (max-width: 1000px) {
    .text{
        font-size: 25px;
    }
}

@media(max-width: 1368px) and (max-height: 1024px){
    .area-esquerda, .area-direita{
        padding-top: 10%;
    }

    .imgRosaDosVentos{
        left: 50%;
        top: 55%;
        height: 25%;
    }

    .brasil{
        width: 90%;
    }
}

@media(max-width: 1180px) and (max-height: 820px) and (min-height: 650px){
    .area-esquerda, .area-direita{
        padding-top: 7%;
    }

    .imgRosaDosVentos{
        left: 50%;
        top: 55%;
        height: 25%;
    }

    .text{
        font-size: 23px;
    }

    input{
        height: 7%;
    }
}

@media (max-width: 900px) or (max-height: 630px) {
    .text{
        font-size: 23px;
    }
}

@media (max-width: 600px) {
    .text{
        font-size: 15px;
    }
}

@media(max-height: 430px){
    .brasil{
        width: 70%;
    }

    .area-direita, .area-esquerda{
        margin-top: 0;
    }
}

.capi{
    position: absolute;
    left: 37%;
    top: 62%;

    width: 7%;
}